
node_modules/
dist/
coverage/
package-lock.json
yarn.lock
npm-debug.log
yarn-error.log
coverage/
coverage.lcov
coverage.lcov-report/
coverage-report/
coverage-final.json
test-results.xml
tsconfig.tsbuildinfo
tsconfig.json
tslint.json
tsconfig.base.json
tsconfig.build.json
tsconfig.build.tsbuildinfo
*.exe
*.exe~
*.dll
*.so
*.dylib
__debug_*
.vscode/
